:root {
    --background-color: #121212;
    --secondary-bg-color: #1F1F1F;
    --buttons-bg-color: #64D8CB;
    --text-main-color: #E0E0E0;
    --links-text: #EBEBEB99;
    --text-second-color: #000000;
    --border-color: #888888;
    --bold-text: bold;
    --poppins: 'Poppins';
    --rethink-sans: 'Rethink Sans';
}

* {
    box-sizing: border-box;
    color: var(--text-main-color);
}

body {
    background-color: var(--background-color);
    margin: 0;


}

.header {
    position: fixed;
    background-color: var(--background-color);
    z-index: 10;
}

.lms-logo {
    filter: invert(1);
    -webkit-filter: invert(1);
    width: 40vw;

}

.login-heading {
    font-family: var(--poppins);
}

.wrapBtns {
    background-color: var(--secondary-bg-color);
    height: 80vh;
    
}

.logSignBtn {
    background-color: var(--buttons-bg-color);
    color: var(--text-second-color);
    border: none;
    border-radius: 5px;
    font-weight: var(--bold-text);
    font-family: var(--poppins);
}

.index-hero .index-form {
    flex: 1;
}

.index-hero {
    display: none;
}

.index-headlines h1 {
    font-family: var(--poppins);
    font-size: 2.5em;
}

.index-headlines p {
    font-family: var(--rethink-sans);
}

.login-link {
    font-size: 0.8em;
    text-decoration-color: var(--buttons-bg-color);
    -moz-text-decoration-color: var(--buttons-bg-color);
    font-family: var(--rethink-sans);
}

.modal-content {
    background-color: var(--secondary-bg-color);
}

.modal-title {
    font-family: var(--poppins);
}

.btn-close {
    background-color: #E0E0E0;
}

.btn-close:focus {
    outline: none;
}

form label {
    font-family: var(--rethink-sans);
    font-weight: var(--bold-text);
}

.input {
    background: none;
    background-color: var(--secondary-bg-color);
}

.input:focus {
    background: none;
}

input::placeholder {
    color: var(--text-main-color) !important;
}

form .buttons {
    font-family: var(--poppins);
}

.main-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "content";
    height: 100vh;
}

.home-header {
    grid-area: header;
    border-bottom: 1px solid gray;
    position: fixed;
    z-index: 1000;
    background-color: var(--background-color);
    top: 0;
}

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: 250px 1fr;
    margin-top: 60px;
}

aside {
    border-right: 1px solid gray;
    height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
}

main {
    padding: 20px;
}

ul {
    list-style-type: none;
    transition: color 0.3s;
}

ul a {
    text-decoration: none;
    font-family: var(--rethink-sans);
    color: var(--text-main-color);
    transition: color 0.3s;
}

ul .nav-link:hover {
    color: var(--buttons-bg-color)
}

.navigation a {
    font-family: var(--rethink-sans);
    font-size: 0.9em;
    padding: 5px 0px;
    color: var(--links-text);
    transition: color 0.3s;
}

.navigation a:hover {
    color: var(--buttons-bg-color);
}

.nav-links a.active {
    color: var(--buttons-bg-color);
}

nav a.active, .navigation a.active {
    color: var(--buttons-bg-color);
}

/* 
.nav-links a.active {
    border-bottom: 2px solid #fff;
    color: var(--text-color);
} */

.sidebarHeading {
    font-family: var(--poppins);
    font-weight: bold;
}

.line {
    border-right: 1px solid #fff;
}

.logoutBtn {
    background: none;
    background-color: var(--background-color);
    border: none;
    font-family: var(--poppins);
    color: var(--text-main-color);
    transition: color 0.3s;
}

.logoutBtn i {
    transition: color 0.3s;
}

.logoutBtn:hover {
    color: var(--buttons-bg-color);
}

.logoutBtn:hover i {
    color: inherit;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--buttons-bg-color);
    border-radius: 5px;
}

@media (min-width: 768px) {
    .lms-logo {
        width: 20vw;
    }

    .index-hero {
        display: contents;
    }

    .index-form {
        width: 100%;
    }
}



@media (min-width: 1024px) {
    .lms-logo {
        width: 20vw;
    }

    .index-hero {
        width: 50%;
    }

    .index-form {
        width: 50%;
    }
}
