:root {
    --background-color: #121212;
    --secondary-bg-color: #1F1F1F;
    --buttons-bg-color: #64D8CB;
    --text-main-color: #E0E0E0;
    --text-second-color: #000000;
    --border-color: #888888;
    --bold-text: bold;
    --poppins: 'Poppins';
    --rethink-sans: 'Rethink Sans';
}

* {
    box-sizing: border-box;
    color: var(--text-main-color);
}

body {
    background-color: var(--background-color);
}

header {
    position: fixed;
}

.lms-logo {
    filter: invert(1);
    -webkit-filter: invert(1);
    width: 50vw;
    margin-left: 10px;
}

.login-heading {
    font-family: var(--poppins);
}

button {
    background-color: var(--buttons-bg-color);
    color: var(--text-second-color);
    border: none;
    border-radius: 5px;
    font-weight: var(--bold-text);
    font-family: var(--poppins);
}

.index-hero .index-form {
    flex: 1;
}


.index-headlines h1 {
    font-family: var(--poppins);
    font-size: 2.5em;
}

.index-headlines p {
    font-family: var(--rethink-sans);
}

.login-link {
    font-size: 0.8em;
    text-decoration-color: var(--buttons-bg-color);
    -moz-text-decoration-color: var(--buttons-bg-color);
    font-family: var(--rethink-sans);
}

.modal-content {
    background-color: var(--secondary-bg-color);
}

.modal-title {
    font-family: var(--poppins);
}

.btn-close {
    background-color: #E0E0E0;
}

.btn-close:focus {
    outline: none;
}

form label {
    font-family: var(--rethink-sans);
}

form .buttons {
    font-family: var(--poppins);
}

@media (max-width: 768px) {
    .parent-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .index-hero {
      display: none;
    }
  
    .index-form {
      width: 100%;
    }
}

@media (min-width: 1024px) {
    .lms-logo {
        width: 15vw;
    }

    .index-hero {
        width: 50%;
    }

    .index-form {
        width: 50%;
    }
}